@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    /* --primary:#FFAF00; */
    --accent:#FFAF00
}
*{
    box-sizing: border-box;
}
.borders{
  border: 1px solid black;
}
.body{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
/* @media only screen and (max-height: 650px) {
  .screen{
    height: auto!important;
  }
}*/
@media only screen and (max-height: 500px) {
  .test{
    height: 100%!important;
  }
  .test2{
    height: 450px!important;
    background: red;
    
  }
}
@media screen and (max-height:664px){
  .screen{
    /* height: 664px!important; */
    padding: 0;
  }
  .ajuste{  
    padding-bottom: 0px !important;
    
  }
}
@media screen and (max-height:613px){
  .screen{
    height: 664px!important;
    padding: 0;
  }
}
